APP_URL=http://localhost/CrokersesMart/public

DB_HOST=localhost
DB_NAME=crockeriesmart
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_ENCRYPTION=tls
SMTP_FROM=noreply@crockeriesmart.com
SMTP_FROM_NAME=CrokersesMart

SSLCOMMERZ_STORE_ID=your_store_id_here
SSLCOMMERZ_STORE_PASS=your_store_password_here
SSLCOMMERZ_SANDBOX=true
